<ul><li><h2> Name </h2><br>Bruce Herman</li><li><h2> Age </h2><br>37</li><li><h2> Email </h2><br>279_BruceHerman.37@gmail.com</li><li><h2> Simple Email </h2><br>279Bruce </li><li><h2> Address </h2><br>89871 Jay Ranch
Funkview, OH 91558</li><li><h2> Telephone </h2><br>+447782896991</li></ul> <h2> Interests </h2><br>Ghost hunting, At&t, PlanetSide 2, volleyball, Drama, Call of Duty: Black Ops III, BLUR, Dowsing, KILLERS, SAM SMITH, handball