<ul><li><h2> Name </h2><br>Foster Spinka</li><li><h2> Age </h2><br>27</li><li><h2> Email </h2><br>55_FosterSpinka.27@gmail.com</li><li><h2> Simple Email </h2><br>55Foster </li><li><h2> Address </h2><br>91448 Glover Parkways Apt. 485
Schadenburgh, OH 80550</li><li><h2> Telephone </h2><br>+447316701575</li></ul> <h2> Interests </h2><br>PAYDAY 2, Mushroom hunting/Mycology, Metal detecting, Path of Exile, hockey, Europa Universalis IV, agnosticism, SMITE, Web surfing, Pet, DRAKE