<ul><li><h2> Name </h2><br>Myles Rippin</li><li><h2> Age </h2><br>36</li><li><h2> Email </h2><br>258_MylesRippin.36@gmail.com</li><li><h2> Simple Email </h2><br>258Myles </li><li><h2> Address </h2><br>8624 Justice Run
Tyrelfurt, MO 39288-8216</li><li><h2> Telephone </h2><br>+447804064310</li></ul> <h2> Interests </h2><br>Insurgency, Toy Story 3, Shinto, The Dark Knight Rises, Baseball, FLORENCE & THE MACHINE, road cycling, DAVID GUETTA, Samsung, Drama, Ice Age: Continental Drift