<ul><li><h2> Name </h2><br>Allen Sipes</li><li><h2> Age </h2><br>52</li><li><h2> Email </h2><br>956_AllenSipes.52@gmail.com</li><li><h2> Simple Email </h2><br>956Allen </li><li><h2> Address </h2><br>49556 Ila Forks Apt. 687
Raynorburgh, CT 30560-2169</li><li><h2> Telephone </h2><br>+447458881101</li></ul> <h2> Interests </h2><br>curling, Astronomy, XCOM: Enemy Unknown, Board games, Mount & Blade: Warband, american football, Inside Out, Surfing, environmentalism, ED SHEERAN, Don't Starve Together Beta