<ul><li><h2> Name </h2><br>Kenneth Spinka</li><li><h2> Age </h2><br>49</li><li><h2> Email </h2><br>184_KennethSpinka.49@gmail.com</li><li><h2> Simple Email </h2><br>184Kenneth </li><li><h2> Address </h2><br>0534 Dietrich Court
West Cecil, NC 66386-0961</li><li><h2> Telephone </h2><br>+447547711692</li></ul> <h2> Interests </h2><br>Tai chi, Spider-Man, Fallout: New Vegas, Toyota, Scrapbooking, moderatism, Transformers: Age of Extinction, Whittling, The Witcher 3: Wild Hunt, Drawing, Rust