<ul><li><h2> Name </h2><br>Emmalee Effertz</li><li><h2> Age </h2><br>24</li><li><h2> Email </h2><br>56_EmmaleeEffertz.24@gmail.com</li><li><h2> Simple Email </h2><br>56Emmalee </li><li><h2> Address </h2><br>746 Blanda Ridges
South Xanderstad, VA 15006</li><li><h2> Telephone </h2><br>+447139493602</li></ul> <h2> Interests </h2><br>Call of Duty: Black Ops II - Multiplayer, Christianity, Kerbal Space Program, Ice Age: Continental Drift, Transformers: Age of Extinction, water polo, Pro Evolution Soccer 2016, Snakes, Sid Meier's Civilization: Beyond Earth, Goldfish, Vacation