<ul><li><h2> Name </h2><br>Jana Friesen</li><li><h2> Age </h2><br>61</li><li><h2> Email </h2><br>69_JanaFriesen.61@gmail.com</li><li><h2> Simple Email </h2><br>69Jana </li><li><h2> Address </h2><br>91858 Arlo Squares Suite 341
East Estell, WY 57236-5690</li><li><h2> Telephone </h2><br>+447798100875</li></ul> <h2> Interests </h2><br>Toy Story 3, Rocket League, Nordic skating, basketball, vegetarianism, PAOLO NUTINI, Call of Duty: Black Ops III, Stone skipping, Shopping, Motor sports, Rats