<ul><li><h2> Name </h2><br>Chet Denesik</li><li><h2> Age </h2><br>30</li><li><h2> Email </h2><br>76_ChetDenesik.30@gmail.com</li><li><h2> Simple Email </h2><br>76Chet </li><li><h2> Address </h2><br>41146 Gusikowski Divide Apt. 082
West Trace, FL 98503</li><li><h2> Telephone </h2><br>+447778465368</li></ul> <h2> Interests </h2><br>Football Manager 2016, Writing, War Thunder, Paintball, The Forest, BLUR, Football Manager 2014, NOEL GALLAGHER'S HIGH FLYING, tennis, Elite: Dangerous, Rust