<ul><li><h2> Name </h2><br>Laurel Sporer</li><li><h2> Age </h2><br>48</li><li><h2> Email </h2><br>986_LaurelSporer.48@gmail.com</li><li><h2> Simple Email </h2><br>986Laurel </li><li><h2> Address </h2><br>841 Labadie Ramp
South Jermainville, RI 33055</li><li><h2> Telephone </h2><br>+447865560768</li></ul> <h2> Interests </h2><br>McDonalds, MEGHAN TRAINOR, Transformers: Dark of the Moon, Mountain biking, Flag Football, Star Wars Episode III: Revenge of the Sith, Genealogy, Rabbits, Skiing, PALOMA FAITH, karate