<ul><li><h2> Name </h2><br>Helen Mosciski</li><li><h2> Age </h2><br>56</li><li><h2> Email </h2><br>974_HelenMosciski.56@gmail.com</li><li><h2> Simple Email </h2><br>974Helen </li><li><h2> Address </h2><br>8752 Lysanne Trail Suite 023
East Bernadette, SC 54348-6237</li><li><h2> Telephone </h2><br>+447186378790</li></ul> <h2> Interests </h2><br>Vehicle restoration, Counter-Strike: Global Offensive, Path of Exile, Toy Story 3, Photography, MARK RONSON, Board sports, Microsoft, HOZIER, Transformers: Age of Extinction, Spider-Man