<ul><li><h2> Name </h2><br>Alvis Spencer</li><li><h2> Age </h2><br>61</li><li><h2> Email </h2><br>57_AlvisSpencer.61@gmail.com</li><li><h2> Simple Email </h2><br>57Alvis </li><li><h2> Address </h2><br>159 Shields Creek
Paucekfort, MA 25592-6432</li><li><h2> Telephone </h2><br>+447471892254</li></ul> <h2> Interests </h2><br>YEARS & YEARS, Digital arts, Kite flying, darts, Jurassic Park, Whittling, Trove, The Lord of the Rings: The Return of the King, FLEETWOOD MAC, Knife making, Metalworking