<ul><li><h2> Name </h2><br>Ottis Marquardt</li><li><h2> Age </h2><br>22</li><li><h2> Email </h2><br>161_OttisMarquardt.22@gmail.com</li><li><h2> Simple Email </h2><br>161Ottis </li><li><h2> Address </h2><br>90480 Tremblay Skyway Apt. 247
South Yazmin, NH 93229-4955</li><li><h2> Telephone </h2><br>+447284513650</li></ul> <h2> Interests </h2><br>Graffiti, Inline skating, skiing, PAOLO NUTINI, Birds, Wood carving, GEORGE EZRA, Sudoku, Middle-earth: Shadow of Mordor, Ice Age: Dawn of the Dinosaurs, Banished