<ul><li><h2> Name </h2><br>Micheal Cronin</li><li><h2> Age </h2><br>22</li><li><h2> Email </h2><br>138_MichealCronin.22@gmail.com</li><li><h2> Simple Email </h2><br>138Micheal </li><li><h2> Address </h2><br>051 McLaughlin Ville
South Rudy, RI 39677-5995</li><li><h2> Telephone </h2><br>+447970356569</li></ul> <h2> Interests </h2><br>Yoga, FLORENCE & THE MACHINE, MAROON 5, Mitos.is: The Game, Counter-Strike, lacrosse, DRAKE, NBA 2K16, liberalism, Unitarian Universalism, Shinto