<ul><li><h2> Name </h2><br>Rick Shields</li><li><h2> Age </h2><br>23</li><li><h2> Email </h2><br>115_RickShields.23@gmail.com</li><li><h2> Simple Email </h2><br>115Rick </li><li><h2> Address </h2><br>56488 Rippin Place
Lake Newton, WY 68215-0487</li><li><h2> Telephone </h2><br>+447120277983</li></ul> <h2> Interests </h2><br>Pottery, anarchism, Sculling or Rowing, Robocraft, Mice, Titanic, Sketching, Inline skating, Shopping, Flying disc, The Hobbit: The Desolation of Smaug