<ul><li><h2> Name </h2><br>Selmer Mante</li><li><h2> Age </h2><br>58</li><li><h2> Email </h2><br>300_SelmerMante.58@gmail.com</li><li><h2> Simple Email </h2><br>300Selmer </li><li><h2> Address </h2><br>7532 Gerard Streets
West Dee, LA 82845</li><li><h2> Telephone </h2><br>+447355054824</li></ul> <h2> Interests </h2><br>Poi, Flower arranging, ED SHEERAN, H1Z1, Lapidary, Creativerse, Brazilian jiu-jitsu, Buddhism, FLEETWOOD MAC, Cities: Skylines, HOZIER