<ul><li><h2> Name </h2><br>Bridget Yost</li><li><h2> Age </h2><br>29</li><li><h2> Email </h2><br>165_BridgetYost.29@gmail.com</li><li><h2> Simple Email </h2><br>165Bridget </li><li><h2> Address </h2><br>788 Riley Falls Suite 076
Reynaberg, OR 26917</li><li><h2> Telephone </h2><br>+447557326393</li></ul> <h2> Interests </h2><br>ROYAL BLOOD, Rabbits, KILLERS, BASE jumping, Left 4 Dead 2, Whittling, Iron Man 3, Mountaineering, Woodworking, Alice in Wonderland, PALOMA FAITH