<ul><li><h2> Name </h2><br>Claude Howe</li><li><h2> Age </h2><br>62</li><li><h2> Email </h2><br>946_ClaudeHowe.62@gmail.com</li><li><h2> Simple Email </h2><br>946Claude </li><li><h2> Address </h2><br>4625 Felton Plains Apt. 137
Port Isabelshire, WY 06433-5140</li><li><h2> Telephone </h2><br>+447493944416</li></ul> <h2> Interests </h2><br>Leather crafting, Warface, Call of Duty: Black Ops II - Multiplayer, ice-skating, swimming, Shrek the Third, Whittling, Crocheting, Mountaineering, Embroidery, Amateur radio