<ul><li><h2> Name </h2><br>Vance Reichert</li><li><h2> Age </h2><br>58</li><li><h2> Email </h2><br>215_VanceReichert.58@gmail.com</li><li><h2> Simple Email </h2><br>215Vance </li><li><h2> Address </h2><br>6654 Keebler Cliff Apt. 169
Gaylordland, NM 69452-3567</li><li><h2> Telephone </h2><br>+447437843114</li></ul> <h2> Interests </h2><br>Model building, Woodworking, Shrek the Third, IMAGINE DRAGONS, Puzzles, Couponing, Rock climbing, The Lion King, IBM, DARK SOULS™ II: Scholar of the First Sin, Jewelry making