<ul><li><h2> Name </h2><br>Emory Shields</li><li><h2> Age </h2><br>24</li><li><h2> Email </h2><br>93_EmoryShields.24@gmail.com</li><li><h2> Simple Email </h2><br>93Emory </li><li><h2> Address </h2><br>3783 Thiel Burgs
South Ricky, NE 19229</li><li><h2> Telephone </h2><br>+447682907830</li></ul> <h2> Interests </h2><br>Drama, The Lion King, Intel, Harry Potter and the Chamber of Secrets, Dota 2, badminton, Elite: Dangerous, Counter-Strike, athletics, Drawing, Rock climbing