<ul><li><h2> Name </h2><br>Herminio Ruecker</li><li><h2> Age </h2><br>21</li><li><h2> Email </h2><br>202_HerminioRuecker.21@gmail.com</li><li><h2> Simple Email </h2><br>202Herminio </li><li><h2> Address </h2><br>2980 Emard Locks Suite 756
Ashleighmouth, MO 42487-2204</li><li><h2> Telephone </h2><br>+447576404656</li></ul> <h2> Interests </h2><br>Baton twirling, synchronized swimming, Company of Heroes 2, FLEETWOOD MAC, The Lord of the Rings: The Fellowship of the Ring, Fallout 4, Flying disc, Coffee roasting, DayZ, Clicker Heroes, Dance