<ul><li><h2> Name </h2><br>Jannie D'Amore</li><li><h2> Age </h2><br>25</li><li><h2> Email </h2><br>265_JannieD'Amore.25@gmail.com</li><li><h2> Simple Email </h2><br>265Jannie </li><li><h2> Address </h2><br>2803 Lucinda Points Apt. 542
Blickhaven, AR 00932</li><li><h2> Telephone </h2><br>+447884088720</li></ul> <h2> Interests </h2><br>Quilting, Stone skipping, Medieval II: Total War, Crusader Kings II, Avatar, floorball, Paintball, Jurassic Park, Tenrikyo, Kerbal Space Program, Microsoft