<ul><li><h2> Name </h2><br>Carlie Durgan</li><li><h2> Age </h2><br>40</li><li><h2> Email </h2><br>1000_CarlieDurgan.40@gmail.com</li><li><h2> Simple Email </h2><br>1000Carlie </li><li><h2> Address </h2><br>243 Carroll Row
New Sheashire, MT 96870</li><li><h2> Telephone </h2><br>+447321793703</li></ul> <h2> Interests </h2><br>Lacemaking, GEORGE EZRA, Creativerse, Kitesurfing, Machining, Scrapbooking, BMW, Pottery, OLLY MURS, road cycling, KENDRICK LAMAR