<ul><li><h2> Name </h2><br>Bridget Wunsch</li><li><h2> Age </h2><br>43</li><li><h2> Email </h2><br>177_BridgetWunsch.43@gmail.com</li><li><h2> Simple Email </h2><br>177Bridget </li><li><h2> Address </h2><br>636 Konopelski Well Suite 219
Lake Elmoburgh, NY 21552-3846</li><li><h2> Telephone </h2><br>+447316305279</li></ul> <h2> Interests </h2><br>Cryptography, Walking, water polo, HOZIER, anarchism, Cosplaying, GREGORY PORTER, Homebrewing, floorball, Despicable Me 2, Coloring