<ul><li><h2> Name </h2><br>Krystina Kunde</li><li><h2> Age </h2><br>35</li><li><h2> Email </h2><br>3_KrystinaKunde.35@gmail.com</li><li><h2> Simple Email </h2><br>3Krystina </li><li><h2> Address </h2><br>91947 Tatum Neck
North Raquel, NH 72758</li><li><h2> Telephone </h2><br>+447673343562</li></ul> <h2> Interests </h2><br>The Hobbit: The Desolation of Smaug, Left 4 Dead 2, METAL GEAR SOLID V: THE PHANTOM PAIN, floorball, Coffee roasting, Disney, boxing, Watching movies, Lapidary, The Binding of Isaac: Rebirth, Jewelry making