<ul><li><h2> Name </h2><br>Colin Fritsch</li><li><h2> Age </h2><br>29</li><li><h2> Email </h2><br>249_ColinFritsch.29@gmail.com</li><li><h2> Simple Email </h2><br>249Colin </li><li><h2> Address </h2><br>00057 Hermann Isle Suite 949
Port Frederikfurt, UT 34293-7191</li><li><h2> Telephone </h2><br>+447604187125</li></ul> <h2> Interests </h2><br>Path of Exile, ONE DIRECTION, Space Engineers, Rats, Frozen, CATFISH & THE BOTTLEMEN, Shrek 2, Birds, Ghost hunting, Flag Football, BASE jumping