<ul><li><h2> Name </h2><br>Earnestine Collier</li><li><h2> Age </h2><br>22</li><li><h2> Email </h2><br>204_EarnestineCollier.22@gmail.com</li><li><h2> Simple Email </h2><br>204Earnestine </li><li><h2> Address </h2><br>47065 Eliezer Hollow Apt. 959
New Desireeport, WI 89117</li><li><h2> Telephone </h2><br>+447302714286</li></ul> <h2> Interests </h2><br>cricket, Rock climbing, Vehicle restoration, monarchism, The Binding of Isaac: Rebirth, The Hobbit: An Unexpected Journey, The Elder Scrolls Online: Tamriel Unlimited, Knife making, LARPing, The Hunger Games: Catching Fire, Minions