<ul><li><h2> Name </h2><br>Haskell Batz</li><li><h2> Age </h2><br>31</li><li><h2> Email </h2><br>103_HaskellBatz.31@gmail.com</li><li><h2> Simple Email </h2><br>103Haskell </li><li><h2> Address </h2><br>674 Beer Hill
Elmohaven, IA 03304-7630</li><li><h2> Telephone </h2><br>+447698528853</li></ul> <h2> Interests </h2><br>tennis, CALVIN HARRIS, Jogging, Coffee roasting, Unitarian Universalism, ice-skating, South Park: The Stick of Truth, Walmart, canoe slalom, Stand-up comedy, Hiking