<ul><li><h2> Name </h2><br>Eldridge Emmerich</li><li><h2> Age </h2><br>34</li><li><h2> Email </h2><br>250_EldridgeEmmerich.34@gmail.com</li><li><h2> Simple Email </h2><br>250Eldridge </li><li><h2> Address </h2><br>1261 Constance Dale
Walkermouth, IL 96357</li><li><h2> Telephone </h2><br>+447177658292</li></ul> <h2> Interests </h2><br>Book restoration, Rappelling, The Hobbit: The Desolation of Smaug, Hamsters, DR DRE, basketball, METAL GEAR SOLID V: THE PHANTOM PAIN, Kitesurfing, Gunsmithing, Just Cause 2, LIONEL RICHIE & THE COMMODORES