<ul><li><h2> Name </h2><br>Isidro Kozey</li><li><h2> Age </h2><br>30</li><li><h2> Email </h2><br>268_IsidroKozey.30@gmail.com</li><li><h2> Simple Email </h2><br>268Isidro </li><li><h2> Address </h2><br>145 Schumm Square
East Magdalena, WI 66523-7293</li><li><h2> Telephone </h2><br>+447955032708</li></ul> <h2> Interests </h2><br>Louis Vuitton, Fishing, ED SHEERAN, The Hobbit: An Unexpected Journey, YEARS & YEARS, Euro Truck Simulator 2, DayZ, GEORGE EZRA, Elite: Dangerous, veganism, Gambling