<ul><li><h2> Name </h2><br>Renee Rosenbaum</li><li><h2> Age </h2><br>48</li><li><h2> Email </h2><br>102_ReneeRosenbaum.48@gmail.com</li><li><h2> Simple Email </h2><br>102Renee </li><li><h2> Address </h2><br>828 Bosco Villages Apt. 377
North Timmy, MS 39029-5272</li><li><h2> Telephone </h2><br>+447206072756</li></ul> <h2> Interests </h2><br>Soapmaking, Rock climbing, Microsoft, CALVIN HARRIS, 7 Days to Die, MAROON 5, liberatarianism, Rats, Call of Duty: Black Ops III, H1Z1, General Electric