<ul><li><h2> Name </h2><br>Josie Glover</li><li><h2> Age </h2><br>45</li><li><h2> Email </h2><br>44_JosieGlover.45@gmail.com</li><li><h2> Simple Email </h2><br>44Josie </li><li><h2> Address </h2><br>091 Anderson Forks Apt. 015
Kennyberg, AK 19190</li><li><h2> Telephone </h2><br>+447235755970</li></ul> <h2> Interests </h2><br>Christianity, Crocheting, Rugby, Total War: SHOGUN 2, darts, Tomb Raider, Oracle, Unitarian Universalism, Counter-Strike: Global Offensive, The Forest, road cycling