<ul><li><h2> Name </h2><br>Myles Price</li><li><h2> Age </h2><br>62</li><li><h2> Email </h2><br>1011_MylesPrice.62@gmail.com</li><li><h2> Simple Email </h2><br>1011Myles </li><li><h2> Address </h2><br>53488 Gunnar Fords Apt. 463
East Cynthia, LA 25967</li><li><h2> Telephone </h2><br>+447914917976</li></ul> <h2> Interests </h2><br>Snakes, Cities: Skylines, Tai chi, Mushroom hunting/Mycology, Total War: ROME II - Emperor Edition, MEGHAN TRAINOR, cycling, Space Engineers, Soapmaking, SAM SMITH, Flag Football