<ul><li><h2> Name </h2><br>Assunta Flatley</li><li><h2> Age </h2><br>46</li><li><h2> Email </h2><br>174_AssuntaFlatley.46@gmail.com</li><li><h2> Simple Email </h2><br>174Assunta </li><li><h2> Address </h2><br>1593 Clare Pine
Dickensmouth, MO 36894</li><li><h2> Telephone </h2><br>+447783124837</li></ul> <h2> Interests </h2><br>Walmart, Slacklining, curling, DayZ, Jainism, tennis, Water sports, Jurassic World, SIA, DAVID GUETTA, Fallout 3 - Game of the Year Edition