<ul><li><h2> Name </h2><br>Bernie Dooley</li><li><h2> Age </h2><br>38</li><li><h2> Email </h2><br>239_BernieDooley.38@gmail.com</li><li><h2> Simple Email </h2><br>239Bernie </li><li><h2> Address </h2><br>31697 Goldner Brooks
Lake Ricoport, NM 92541-0435</li><li><h2> Telephone </h2><br>+447351267168</li></ul> <h2> Interests </h2><br>DRAKE, Bodybuilding, The Lord of the Rings: The Two Towers, socialism, Dying Light, Handball, syndicalism, baseball, Water sports, Kerbal Space Program, Kombucha Brewing