<ul><li><h2> Name </h2><br>Elmira Rogahn</li><li><h2> Age </h2><br>44</li><li><h2> Email </h2><br>99_ElmiraRogahn.44@gmail.com</li><li><h2> Simple Email </h2><br>99Elmira </li><li><h2> Address </h2><br>417 Vilma Crest Apt. 608
New Berthatown, LA 83034</li><li><h2> Telephone </h2><br>+447505738360</li></ul> <h2> Interests </h2><br>Cosplaying, Stand-up comedy, BLUR, Toyota, MAROON 5, Flower arranging, Leather crafting, Orienteering, JAMES BAY, Brawlhalla, Gaming (tabletop games and role-playing games)