<ul><li><h2> Name </h2><br>Tia Abernathy</li><li><h2> Age </h2><br>45</li><li><h2> Email </h2><br>85_TiaAbernathy.45@gmail.com</li><li><h2> Simple Email </h2><br>85Tia </li><li><h2> Address </h2><br>080 Stehr Stravenue
Baileyborough, PA 52126</li><li><h2> Telephone </h2><br>+447464466856</li></ul> <h2> Interests </h2><br>The Lion King, hockey, anarchism, Mitos.is: The Game, Fallout 4, Jainism, basketball, SMITE, swimming, vegetarianism, Call of Duty: Black Ops II - Multiplayer