<ul><li><h2> Name </h2><br>Collin O'Reilly</li><li><h2> Age </h2><br>58</li><li><h2> Email </h2><br>119_CollinO'Reilly.58@gmail.com</li><li><h2> Simple Email </h2><br>119Collin </li><li><h2> Address </h2><br>5908 Swift Overpass Suite 868
North Emmanuelshire, NV 38499-8134</li><li><h2> Telephone </h2><br>+447722764162</li></ul> <h2> Interests </h2><br>PRODIGY, Football Manager 2016, Gunsmithing, METAL GEAR SOLID V: THE PHANTOM PAIN, Furious 7, baseball, KILLERS, darts, Fallout 4, curling, liberatarianism