<ul><li><h2> Name </h2><br>Cloyd Feest</li><li><h2> Age </h2><br>38</li><li><h2> Email </h2><br>930_CloydFeest.38@gmail.com</li><li><h2> Simple Email </h2><br>930Cloyd </li><li><h2> Address </h2><br>4153 Charlie River
Constancemouth, CT 56627</li><li><h2> Telephone </h2><br>+447374603735</li></ul> <h2> Interests </h2><br>Farming Simulator 15, Rastafarianism, Sid Meier's Civilization: Beyond Earth, KILLERS, Hinduism, Hiking, Total War: SHOGUN 2, Yo-yoing, Borderlands 2, Honda, Video gaming