<ul><li><h2> Name </h2><br>Rafael Bashirian</li><li><h2> Age </h2><br>37</li><li><h2> Email </h2><br>149_RafaelBashirian.37@gmail.com</li><li><h2> Simple Email </h2><br>149Rafael </li><li><h2> Address </h2><br>79054 Nader Dale Apt. 172
East Sanfordtown, NH 80526</li><li><h2> Telephone </h2><br>+447598512301</li></ul> <h2> Interests </h2><br>Skiing, road cycling, Rafting, PRODIGY, Soapmaking, baseball, Buddhism, synchronized swimming, Model building, syndicalism, Christianity