<ul><li><h2> Name </h2><br>Georgette Walsh</li><li><h2> Age </h2><br>63</li><li><h2> Email </h2><br>21_GeorgetteWalsh.63@gmail.com</li><li><h2> Simple Email </h2><br>21Georgette </li><li><h2> Address </h2><br>222 Schowalter Village
East Viola, MI 64867-1681</li><li><h2> Telephone </h2><br>+447526635224</li></ul> <h2> Interests </h2><br>swimming, Amateur radio, Heroes & Generals, Harry Potter and the Philosopher's Stone, Call of Duty: Modern Warfare 3 - Multiplayer, The Lion King, Playing musical instruments, Sports, Donkeys, The Twilight Saga: Breaking Dawn – Part 2, Coca Cola