<ul><li><h2> Name </h2><br>Stephania Purdy</li><li><h2> Age </h2><br>59</li><li><h2> Email </h2><br>113_StephaniaPurdy.59@gmail.com</li><li><h2> Simple Email </h2><br>113Stephania </li><li><h2> Address </h2><br>344 Osbaldo Burg Apt. 370
Port Shaynetown, DC 24865</li><li><h2> Telephone </h2><br>+447935906917</li></ul> <h2> Interests </h2><br>Gardening, Pet, syndicalism, anarchism, PAYDAY 2, Left 4 Dead 2, South Park: The Stick of Truth, right-wing, The Witcher 3: Wild Hunt, Dogs, baseball