<ul><li><h2> Name </h2><br>Lucas Hansen</li><li><h2> Age </h2><br>52</li><li><h2> Email </h2><br>298_LucasHansen.52@gmail.com</li><li><h2> Simple Email </h2><br>298Lucas </li><li><h2> Address </h2><br>117 Devon Haven
Boylefurt, AL 91352-7035</li><li><h2> Telephone </h2><br>+447312105744</li></ul> <h2> Interests </h2><br>canoe slalom, Knapping, environmentalism, DAVID GUETTA, Iron Man 3, Left 4 Dead 2, Drawing, Snowboarding, Pirates of the Caribbean: At World's End, Despicable Me 2, NOEL GALLAGHER'S HIGH FLYING