<ul><li><h2> Name </h2><br>Elliott Pfannerstill</li><li><h2> Age </h2><br>25</li><li><h2> Email </h2><br>297_ElliottPfannerstill.25@gmail.com</li><li><h2> Simple Email </h2><br>297Elliott </li><li><h2> Address </h2><br>1005 Carter Pike Suite 416
East Korbin, GA 88279-9404</li><li><h2> Telephone </h2><br>+447485205206</li></ul> <h2> Interests </h2><br>Harry Potter and the Goblet of Fire, Rugby, right-wing, Jigsaw puzzles, Microsoft, Flower arranging, METAL GEAR SOLID V: THE PHANTOM PAIN, Counter-Strike Nexon: Zombies, Knitting, Roller skating, Puzzles