<ul><li><h2> Name </h2><br>Ava Schulist</li><li><h2> Age </h2><br>42</li><li><h2> Email </h2><br>180_AvaSchulist.42@gmail.com</li><li><h2> Simple Email </h2><br>180Ava </li><li><h2> Address </h2><br>5624 Kris Lakes
Spinkaport, IL 87731-8065</li><li><h2> Telephone </h2><br>+447055174338</li></ul> <h2> Interests </h2><br>Call of Duty: Modern Warfare 2 - Multiplayer, Gunsmithing, Metalworking, Saints Row IV, CATFISH & THE BOTTLEMEN, Fallout 4, The Hobbit: The Desolation of Smaug, Sid Meier's Civilization V, The Elder Scrolls Online: Tamriel Unlimited, Arma 2: Operation Arrowhead, Creative writing