<ul><li><h2> Name </h2><br>Cassie Russel</li><li><h2> Age </h2><br>38</li><li><h2> Email </h2><br>46_CassieRussel.38@gmail.com</li><li><h2> Simple Email </h2><br>46Cassie </li><li><h2> Address </h2><br>5581 Champlin Circles Suite 664
Dextershire, RI 20481-6146</li><li><h2> Telephone </h2><br>+447962451177</li></ul> <h2> Interests </h2><br>Fashion, Swimming, Gunsmithing, Web surfing, liberalism, Furious 7, ED SHEERAN, Dark Souls: Prepare to Die Edition, MARK RONSON, Singing, Budweiser