<ul><li><h2> Name </h2><br>Milton Marquardt</li><li><h2> Age </h2><br>45</li><li><h2> Email </h2><br>61_MiltonMarquardt.45@gmail.com</li><li><h2> Simple Email </h2><br>61Milton </li><li><h2> Address </h2><br>7024 McCullough Ways Apt. 853
Darianside, NY 27735-0707</li><li><h2> Telephone </h2><br>+447896518215</li></ul> <h2> Interests </h2><br>badminton, Kerbal Space Program, Jainism, communism, vegetarianism, socialism, Spiritism, NBA 2K16, Kitesurfing, Avengers: Age of Ultron, Jogging