<ul><li><h2> Name </h2><br>Juanita Miller</li><li><h2> Age </h2><br>42</li><li><h2> Email </h2><br>41_JuanitaMiller.42@gmail.com</li><li><h2> Simple Email </h2><br>41Juanita </li><li><h2> Address </h2><br>939 Rutherford Vista Suite 822
Greenfeldershire, VA 29373</li><li><h2> Telephone </h2><br>+447012752711</li></ul> <h2> Interests </h2><br>ice-skating, Tai chi, Shrek the Third, Jainism, Harry Potter and the Goblet of Fire, DRAKE, Warface, Sculpting, Gaming (tabletop games and role-playing games), The Binding of Isaac: Rebirth, Rats