<ul><li><h2> Name </h2><br>Bradford Botsford</li><li><h2> Age </h2><br>36</li><li><h2> Email </h2><br>88_BradfordBotsford.36@gmail.com</li><li><h2> Simple Email </h2><br>88Bradford </li><li><h2> Address </h2><br>5719 Syble Manors
Braunmouth, DE 42979</li><li><h2> Telephone </h2><br>+447448587621</li></ul> <h2> Interests </h2><br>Fallout 3 - Game of the Year Edition, Electronics, Tenrikyo, Parkour, Elite: Dangerous, Machining, Hamsters, Roller skating, Metal detecting, Goldfish, DAVID GUETTA