<ul><li><h2> Name </h2><br>Garrick Wiza</li><li><h2> Age </h2><br>26</li><li><h2> Email </h2><br>1012_GarrickWiza.26@gmail.com</li><li><h2> Simple Email </h2><br>1012Garrick </li><li><h2> Address </h2><br>587 Trever Pine
Hassanton, OH 29032-0069</li><li><h2> Telephone </h2><br>+447070530675</li></ul> <h2> Interests </h2><br>Reading, Inline skating, Skimboarding, Harry Potter and the Deathly Hallows – Part 1, Middle-earth: Shadow of Mordor, Islam, Pigs, bowling, Age of Empires II: HD Edition, Lacemaking, Writing