<ul><li><h2> Name </h2><br>Lurline Ledner</li><li><h2> Age </h2><br>49</li><li><h2> Email </h2><br>299_LurlineLedner.49@gmail.com</li><li><h2> Simple Email </h2><br>299Lurline </li><li><h2> Address </h2><br>287 Hessel Brook
West Michellebury, OK 81673-8639</li><li><h2> Telephone </h2><br>+447758552266</li></ul> <h2> Interests </h2><br>cycling, Unitarian Universalism, Tomb Raider, Harry Potter and the Order of the Phoenix, Call of Duty: Black Ops III, Age of Empires II: HD Edition, Playing musical instruments, Horseback riding, Europa Universalis IV, Total War: ATTILA, Metalworking