<ul><li><h2> Name </h2><br>Trisha Jaskolski</li><li><h2> Age </h2><br>44</li><li><h2> Email </h2><br>139_TrishaJaskolski.44@gmail.com</li><li><h2> Simple Email </h2><br>139Trisha </li><li><h2> Address </h2><br>80550 Medhurst Ports Suite 997
East Jordanemouth, MA 50323-8845</li><li><h2> Telephone </h2><br>+447163808988</li></ul> <h2> Interests </h2><br>Harry Potter and the Chamber of Secrets, IMAGINE DRAGONS, The Dark Knight Rises, Coca Cola, Borderlands: The Pre-Sequel, Spiritism, Unitarian Universalism, Skimboarding, Shinto, Jurassic Park, Kerbal Space Program