<ul><li><h2> Name </h2><br>Paris Stokes</li><li><h2> Age </h2><br>63</li><li><h2> Email </h2><br>120_ParisStokes.63@gmail.com</li><li><h2> Simple Email </h2><br>120Paris </li><li><h2> Address </h2><br>923 Zola Ranch
Caroltown, NH 82402</li><li><h2> Telephone </h2><br>+447823777272</li></ul> <h2> Interests </h2><br>Coloring, Watching movies, canoe slalom, The Elder Scrolls Online: Tamriel Unlimited, Creativerse, Genealogy, Finding Nemo, Robocraft, vegetarianism, Iron Man 3, Islam