<ul><li><h2> Name </h2><br>Shemar Kris</li><li><h2> Age </h2><br>61</li><li><h2> Email </h2><br>296_ShemarKris.61@gmail.com</li><li><h2> Simple Email </h2><br>296Shemar </li><li><h2> Address </h2><br>253 Carlo Plains Suite 775
Ludwigfurt, TX 40752</li><li><h2> Telephone </h2><br>+447202301837</li></ul> <h2> Interests </h2><br>Skateboarding, Counter-Strike Nexon: Zombies, Macrame, Fashion, TAKE THAT, Fishing, Tom Clancy's Rainbow Six Siege - Beta, liberatarianism, Driving, War Thunder, Soapmaking