<ul><li><h2> Name </h2><br>Rico Block</li><li><h2> Age </h2><br>22</li><li><h2> Email </h2><br>33_RicoBlock.22@gmail.com</li><li><h2> Simple Email </h2><br>33Rico </li><li><h2> Address </h2><br>2554 Sterling Village Suite 397
New Cadetown, RI 12614-3176</li><li><h2> Telephone </h2><br>+447388772863</li></ul> <h2> Interests </h2><br>PRODIGY, mountain biking, Warface, Ghost hunting, SIA, Flag Football, MUMFORD & SONS, Skimboarding, Hinduism, Jigsaw puzzles, Dowsing