<ul><li><h2> Name </h2><br>Cordie Hodkiewicz</li><li><h2> Age </h2><br>43</li><li><h2> Email </h2><br>38_CordieHodkiewicz.43@gmail.com</li><li><h2> Simple Email </h2><br>38Cordie </li><li><h2> Address </h2><br>78267 Alia Branch Apt. 747
New Adriel, SC 86341</li><li><h2> Telephone </h2><br>+447506179788</li></ul> <h2> Interests </h2><br>atheism, Dirty Bomb, Kabaddi, republicanism, Fallout: New Vegas, Fallout 3 - Game of the Year Edition, ARK: Survival Evolved, Microsoft, archery, athletics, Acting