<ul><li><h2> Name </h2><br>Khalid Daugherty</li><li><h2> Age </h2><br>42</li><li><h2> Email </h2><br>168_KhalidDaugherty.42@gmail.com</li><li><h2> Simple Email </h2><br>168Khalid </li><li><h2> Address </h2><br>765 Luna Cliff
Port Gertrude, MN 54355-3631</li><li><h2> Telephone </h2><br>+447982942256</li></ul> <h2> Interests </h2><br>Europa Universalis IV, road cycling, Basketball, Coffee roasting, Rock climbing, Pirates of the Caribbean: At World's End, Dark Souls: Prepare to Die Edition, Knitting, Rastafarianism, Cisco, Writing