<ul><li><h2> Name </h2><br>Maxie Buckridge</li><li><h2> Age </h2><br>32</li><li><h2> Email </h2><br>26_MaxieBuckridge.32@gmail.com</li><li><h2> Simple Email </h2><br>26Maxie </li><li><h2> Address </h2><br>2910 Vandervort Wall
Gilbertborough, ID 62402</li><li><h2> Telephone </h2><br>+447925476558</li></ul> <h2> Interests </h2><br>Board games, FALL OUT BOY, Knitting, Life is Feudal: Your Own, Glassblowing, The Hobbit: The Desolation of Smaug, Magic, Rafting, Louis Vuitton, Total War: SHOGUN 2, Scouting