<ul><li><h2> Name </h2><br>Lela Quigley</li><li><h2> Age </h2><br>50</li><li><h2> Email </h2><br>295_LelaQuigley.50@gmail.com</li><li><h2> Simple Email </h2><br>295Lela </li><li><h2> Address </h2><br>824 Lesly Road Apt. 030
Lake Mileston, LA 39581</li><li><h2> Telephone </h2><br>+447527194587</li></ul> <h2> Interests </h2><br>Call of Duty: Black Ops III, Football Manager 2016, Harry Potter and the Half-Blood Prince, Walmart, Horses, Stone skipping, Rocket League, Apple, liberatarianism, Candle making, Transformers: Age of Extinction