<ul><li><h2> Name </h2><br>Sadye Legros</li><li><h2> Age </h2><br>26</li><li><h2> Email </h2><br>210_SadyeLegros.26@gmail.com</li><li><h2> Simple Email </h2><br>210Sadye </li><li><h2> Address </h2><br>93152 Danial Unions
North Vicentaside, VT 18497-0738</li><li><h2> Telephone </h2><br>+447495548051</li></ul> <h2> Interests </h2><br>Company of Heroes 2, Star Wars Episode I: The Phantom Menace, Community, Banished, Parkour, The Hunger Games: Catching Fire, Painting, Independence Day, Age of Empires II: HD Edition, Lego building, Fallout 3 - Game of the Year Edition