<ul><li><h2> Name </h2><br>Teagan Green</li><li><h2> Age </h2><br>23</li><li><h2> Email </h2><br>246_TeaganGreen.23@gmail.com</li><li><h2> Simple Email </h2><br>246Teagan </li><li><h2> Address </h2><br>132 Emerson Freeway
Wisozkberg, FL 03320</li><li><h2> Telephone </h2><br>+447761758478</li></ul> <h2> Interests </h2><br>Coffee roasting, Gaming (tabletop games and role-playing games), Photography, communism, South Park: The Stick of Truth, The Lord of the Rings: The Return of the King, KODALINE, Dungeon Defenders II, Unturned, Europa Universalis IV, ED SHEERAN