<ul><li><h2> Name </h2><br>Chandler Crona</li><li><h2> Age </h2><br>25</li><li><h2> Email </h2><br>18_ChandlerCrona.25@gmail.com</li><li><h2> Simple Email </h2><br>18Chandler </li><li><h2> Address </h2><br>938 Runte Shores
Lambertland, PA 96791</li><li><h2> Telephone </h2><br>+447170349620</li></ul> <h2> Interests </h2><br>Left 4 Dead 2, Age of Empires III: Complete Collection, MAROON 5, Parkour, Creative writing, Apple, KILLERS, Knapping, Coca Cola, Gambling, Arma 2: Operation Arrowhead