<ul><li><h2> Name </h2><br>Deonte Bradtke</li><li><h2> Age </h2><br>39</li><li><h2> Email </h2><br>141_DeonteBradtke.39@gmail.com</li><li><h2> Simple Email </h2><br>141Deonte </li><li><h2> Address </h2><br>1681 Rosenbaum Canyon Apt. 929
Schroederstad, MA 62284</li><li><h2> Telephone </h2><br>+447251846034</li></ul> <h2> Interests </h2><br>DayZ, Polo, Knife making, SAM SMITH, Inside Out, skateboarding, Sculpting, Water sports, Fallout 4, Cosplaying, Borderlands: The Pre-Sequel