<ul><li><h2> Name </h2><br>Agustina Bernier</li><li><h2> Age </h2><br>52</li><li><h2> Email </h2><br>1018_AgustinaBernier.52@gmail.com</li><li><h2> Simple Email </h2><br>1018Agustina </li><li><h2> Address </h2><br>771 Emmerich Valleys
Bergeview, VT 96091-5666</li><li><h2> Telephone </h2><br>+447524349062</li></ul> <h2> Interests </h2><br>Stand-up comedy, Hiking, Fashion, Sid Meier's Civilization V, Vacation, Writing, Magic, Sports, Goldfish, Painting, Harry Potter and the Half-Blood Prince