<ul><li><h2> Name </h2><br>Alexa Kris</li><li><h2> Age </h2><br>63</li><li><h2> Email </h2><br>992_AlexaKris.63@gmail.com</li><li><h2> Simple Email </h2><br>992Alexa </li><li><h2> Address </h2><br>869 Laila Cliff
West Rhodamouth, IL 16859-6134</li><li><h2> Telephone </h2><br>+447879571258</li></ul> <h2> Interests </h2><br>Handball, ice-skating, Slacklining, MEGHAN TRAINOR, Space Engineers, Digital arts, CATFISH & THE BOTTLEMEN, PAOLO NUTINI, Sculpting, Rappelling, Coca Cola