<ul><li><h2> Name </h2><br>Anais Purdy</li><li><h2> Age </h2><br>65</li><li><h2> Email </h2><br>948_AnaisPurdy.65@gmail.com</li><li><h2> Simple Email </h2><br>948Anais </li><li><h2> Address </h2><br>917 King Mall
Ondrickashire, TX 83331</li><li><h2> Telephone </h2><br>+447563678758</li></ul> <h2> Interests </h2><br>baseball, Lapidary, Lacemaking, Paganism, handball, TAYLOR SWIFT, Counter-Strike, Poi, Banished, PAUL SIMON, Pigs