<ul><li><h2> Name </h2><br>Kennedi Bergstrom</li><li><h2> Age </h2><br>22</li><li><h2> Email </h2><br>197_KennediBergstrom.22@gmail.com</li><li><h2> Simple Email </h2><br>197Kennedi </li><li><h2> Address </h2><br>6596 Effertz Club
East Raul, AL 52676-0268</li><li><h2> Telephone </h2><br>+447191351528</li></ul> <h2> Interests </h2><br>PAUL SIMON, Intel, Insurgency, Foreign language learning, Hunting, Sid Meier's Civilization V, weightlifting, KENDRICK LAMAR, swimming, Singing, Stone skipping