<ul><li><h2> Name </h2><br>Brennan Osinski</li><li><h2> Age </h2><br>42</li><li><h2> Email </h2><br>28_BrennanOsinski.42@gmail.com</li><li><h2> Simple Email </h2><br>28Brennan </li><li><h2> Address </h2><br>5355 Trace Court Apt. 326
Port Edmundville, FL 92684-2643</li><li><h2> Telephone </h2><br>+447062020879</li></ul> <h2> Interests </h2><br>Hooping, Harry Potter and the Deathly Hallows – Part 2, Cisco, Netball, Path of Exile, pool, Ice skating, Stone skipping, Pirates of the Caribbean: On Stranger Tides, Euro Truck Simulator 2, Avengers: Age of Ultron