<ul><li><h2> Name </h2><br>Nickolas Witting</li><li><h2> Age </h2><br>23</li><li><h2> Email </h2><br>127_NickolasWitting.23@gmail.com</li><li><h2> Simple Email </h2><br>127Nickolas </li><li><h2> Address </h2><br>3760 Adell Causeway Apt. 818
Wolfftown, MA 19947-8722</li><li><h2> Telephone </h2><br>+447096403718</li></ul> <h2> Interests </h2><br>Woodworking, agnosticism, Baseball, Rock climbing, Mice, Taxidermy, Birds, Model building, Graffiti, Juggling, Dance