<ul><li><h2> Name </h2><br>Julianne DuBuque</li><li><h2> Age </h2><br>39</li><li><h2> Email </h2><br>47_JulianneDuBuque.39@gmail.com</li><li><h2> Simple Email </h2><br>47Julianne </li><li><h2> Address </h2><br>8402 Barney Manors
Dareton, KY 22144</li><li><h2> Telephone </h2><br>+447076183944</li></ul> <h2> Interests </h2><br>Slacklining, AdVenture Capitalist, Wood carving, Total War: ATTILA, syndicalism, Scrapbooking, handball, Netball, Camping, karate, Life is Feudal: Your Own