<ul><li><h2> Name </h2><br>Amie Zemlak</li><li><h2> Age </h2><br>24</li><li><h2> Email </h2><br>20_AmieZemlak.24@gmail.com</li><li><h2> Simple Email </h2><br>20Amie </li><li><h2> Address </h2><br>270 Barton Unions Suite 609
North Maurinestad, IN 87260-5897</li><li><h2> Telephone </h2><br>+447829841710</li></ul> <h2> Interests </h2><br>curling, Jainism, Writing, At&t, Inline skating, NOEL GALLAGHER'S HIGH FLYING, Sand art, The Lion King, Microsoft, Apple, Call of Duty: Modern Warfare 2 - Multiplayer