<ul><li><h2> Name </h2><br>Horace Schaefer</li><li><h2> Age </h2><br>63</li><li><h2> Email </h2><br>162_HoraceSchaefer.63@gmail.com</li><li><h2> Simple Email </h2><br>162Horace </li><li><h2> Address </h2><br>520 Rau Road
VonRuedenhaven, DE 13548-3939</li><li><h2> Telephone </h2><br>+447831910950</li></ul> <h2> Interests </h2><br>Walmart, ice-skating, Minions, CALVIN HARRIS, Google, The Dark Knight, Team Fortress 2, Ice Age: Continental Drift, Football Manager 2014, Creative writing, Painting