<ul><li><h2> Name </h2><br>Hector Shields</li><li><h2> Age </h2><br>54</li><li><h2> Email </h2><br>31_HectorShields.54@gmail.com</li><li><h2> Simple Email </h2><br>31Hector </li><li><h2> Address </h2><br>3348 Misael Highway Suite 854
Weberstad, IA 89450-0622</li><li><h2> Telephone </h2><br>+447751759386</li></ul> <h2> Interests </h2><br>Finding Nemo, General Electric, LIONEL RICHIE & THE COMMODORES, Whittling, YEARS & YEARS, archery, Skiing, Mice, Beekeeping, monarchism, Genealogy