<ul><li><h2> Name </h2><br>Clovis Stroman</li><li><h2> Age </h2><br>26</li><li><h2> Email </h2><br>121_ClovisStroman.26@gmail.com</li><li><h2> Simple Email </h2><br>121Clovis </li><li><h2> Address </h2><br>0433 Emiliano Meadows
Lake Helmerhaven, LA 18308-9017</li><li><h2> Telephone </h2><br>+447562952855</li></ul> <h2> Interests </h2><br>democratism, baseball, HOZIER, Kitesurfing, Running, IMAGINE DRAGONS, Photography, OLLY MURS, CALVIN HARRIS, Walmart, TERA