<ul><li><h2> Name </h2><br>Dudley Cruickshank</li><li><h2> Age </h2><br>35</li><li><h2> Email </h2><br>237_DudleyCruickshank.35@gmail.com</li><li><h2> Simple Email </h2><br>237Dudley </li><li><h2> Address </h2><br>44936 Jada Point Apt. 358
New Cornellmouth, IN 09766-7268</li><li><h2> Telephone </h2><br>+447539288200</li></ul> <h2> Interests </h2><br>TAKE THAT, War Thunder, Vacation, Blacksmithing, Kerbal Space Program, Mount & Blade: Warband, Singing, 3D printing, Mountaineering, ONE DIRECTION, 7 Days to Die