<ul><li><h2> Name </h2><br>Colten Abshire</li><li><h2> Age </h2><br>65</li><li><h2> Email </h2><br>284_ColtenAbshire.65@gmail.com</li><li><h2> Simple Email </h2><br>284Colten </li><li><h2> Address </h2><br>7231 Claudine Prairie Suite 575
Casimirside, MT 06354-6387</li><li><h2> Telephone </h2><br>+447553021791</li></ul> <h2> Interests </h2><br>Driving, Writing, Rats, road cycling, Football Manager 2014, Glassblowing, Minions, Coca Cola, PlanetSide 2, Hiking, fencing