<ul><li><h2> Name </h2><br>Jewel Huel</li><li><h2> Age </h2><br>41</li><li><h2> Email </h2><br>269_JewelHuel.41@gmail.com</li><li><h2> Simple Email </h2><br>269Jewel </li><li><h2> Address </h2><br>344 Carlo Heights Apt. 276
Vernicebury, VA 58176</li><li><h2> Telephone </h2><br>+447617760845</li></ul> <h2> Interests </h2><br>american football, Sand art, General Electric, Bodybuilding, Lockpicking, Despicable Me 2, Apple, Geocaching, Skateboarding, Nike, Unturned